$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$padding:(
  all: 10px,
  top: 10px 0 0 0,
  left: 0 0 0 10px,
  bottom: 0 0 10px 0,
  right: 0 10px 0 0,
  top-bottom: 10px 0,
  left-right: 0 10px,
  top-left-right: 10px 10px 0 10px,
  bottom-left-right: 0 10px 10px 10px,
  top-left-bottom-right: 10px 10px 10px 10px,
);

$size:(
  small: 12px,
  middle: 14px,
  large: 16px
);

$shadow: 0px 0px 10px 5px rgba(238,238,238,1);
