<form [formGroup]="formGroup" #form="ngForm" [autocomplete]="autoComplete" *ngIf="fieldModel && !hidden">
  <mat-form-field [appearance]="appearance"  class="full-width">
    <mat-label>{{(!useTranslation) ? label : label | translate}}</mat-label>
    <input matInput [matDatepicker]="picker" [formControlName]="controlName" (input)="emitValue()" [errorStateMatcher]="errorStateMatcher" [type]="type" [placeholder]="(!useTranslation) ? placeholder : placeholder | translate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

    <mat-error *ngIf="control.invalid && submitted | async">
      <span *ngFor="let error of errors(control)">
        {{(!useTranslation) ? error.description : error.translationCode | translate: error.parameters}}
      </span>
    </mat-error>
  </mat-form-field>
  <button hidden #submit></button>
</form>
