@import "src/assets/scss/partials/variables";

.character-content {
  width: 100px;
  padding: map_get($padding, all);
  border: 1px solid $border-color;
  border-radius: 5px;
  .name{
    font-size: map_get($size,large);
  }
  .details{
    .role, .name{
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
}

/* Responsive Styles */
@media screen and (max-width: map_get($breakpoints, sm)) {
  .character-content{
    width: auto;
    display: flex;
    align-items: center;
    .details{
      text-align: left;
      padding: map_get($padding,left-right);
    }
    .actions{
      margin-left: auto;
      display: grid;
    }
  }
}

